/.idea/aoc_2023.iml
/.idea/GitLink.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/AdventOfCode.iml
*/data/*
*/__pycache__/*